@model List<mvcusingWithEntityFrameWork.Context.tbl_student>
@{
    ViewBag.Title = "StudentList";
}

<h2>StudentList</h2>

<table>
    <tr>
        <th>Name</th>
        <th>FatherName</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

   @foreach(var item in Model )
   {
    <tr>
        <th>@item.Name</th>
        <th>@item.Fname</th>
        <th>@item.Email</th>
        <th>@item.Mobile</th>
        <th>@item.Description</th>
        <th>
            <a href="@Url.Action("Student",new { item.ID,item.Name,item.Fname,item.Email,item.Mobile,item.Description})"><i class="glyphicon glyphicon-pencil">Edit</i></a>
            <a href="@Url.Action("Delete",new { item.ID})"><i class="glyphicon glyphicon-trash">Delete</i></a>
        </th>
    </tr>

   }
</table>

