@model Mvc_linq_to_sql_SP_Crud.Models.crudeemp_Result

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>crudeemp_Result</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Empid  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
